<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="icon" href="/static/img/favicon.ico" type="image/vnd.microsoft.icon" />
    {% block extrahead %}{% endblock %}
    <title>Contact Manager</title>
    <link rel="stylesheet" href="static/css/styles.css" type="text/css" />
</head>
<body>

<div id="container">
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</div>

</body>
</html>

